<!-- 
  This is a template that contains HTML that should appear in every web page that your
  sever generates. This is where you should import script files as well as link to any
  CSS files. 
-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Coder TV</title>
    <link rel="stylesheet" href="/styles.css" type="text/css">
    <script defer src="js/index.js"></script>

</head>
<body ontouchstart="">

    <div id="movie-list-container">
    <input id="movie-list-search-bar" placeholder="Search" />
    <div id="movie-list">
    </div>

  </div>
    {{{body}}}

</body>
</html>
