body{
    background-color: rgba(0, 0, 0, 0.808);
    color: white
}

#movie-list-search-bar{
float:right;
background-color:white;
color:grey;
}

.delete{
    background-color: #000000;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    
}

button{
  background-color: #555555;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
