<h1>TV Shows</h1>

<a href="/tv/new">
    <button>
        Create New TV Show
    </button>
</a>
<a href="/movie/">
    <button>
        View Movies
    </button>
</a>
<br>`
<br>

{{#each allTvShows}}
    <a href="/tv/{{_id}}">
        {{#if picture}}
            <img src={{picture}} height=250 width="auto"/>
        {{/if}}
    </a>
{{/each}}

