<h1>Create New TV Show</h1>

<form action="/tv" method="POST">
    <input type="text" name="name" placeholder="name"/>
    <input type="number" name="releaseYear" placeholder="releaseYear "/>
    <input type="text" name="director" placeholder="director"/>
    <input type="text" name="picture" placeholder="picture"/>
   <!-- <input type="text" name="directorId" value="{{directorId}}"/>-->

    <input type="submit" value="Create"/>
</form>