<h1>All Movies</h1>

<a href="/movie/new">
    <button>
        Create New Movie
    </button>
</a>

{{#each allMovies}}
    <a href="/movie/{{_id}}">
        {{#if picture}}
            <img src={{picture}} height=250 width="auto"/>
        {{/if}}
    </a>
{{/each}}

<a href="/tv/">
    <button>
        View TV Shows
    </button>
</a>