<h1>Create New Movie</h1>

<form action="/Director" method="POST">
    <input type="text" name="name" placeholder="name"/>
    <input type="text" name="age" placeholder="Enter Age"/>
   
    <input type="submit" value="Create"/>
</form>