<h1>Edit Director</h1>

<form action="/director/{{_id}}?_method=PUT" method="POST">
    <input type="text" name="name" placeholder="name" value="{{name}}"/>
    <input type="number" name="age" placeholder="age" value="{{age}}"/>
    <input type="submit" value="Save"/>
</form>